@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
a {
  font-family: "Oswald", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
}

/* ---------- Streg ---------- */
hr {
  color: #000000;
  background-color: #000000;
  border: none;
  height: 1px;
  margin-top: 10px;
}

/*=========== nav =============*/
/*---------- header ----------*/
.banner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem 3rem;
  padding: 1rem;
}

nav {
  display: contents;
}

nav ul {
  display: flex;
  flex-flow: column;
  flex: 1 1 100%;
  gap: 0 1rem;
  padding-block-start: 1rem;
}

nav li {
  display: grid;
}

/*---------- links i nav ----------*/
nav a {
  margin-inline: -1rem;
  padding-inline: 1rem;
  border-radius: 6px;
  padding-block: 1rem;
  /* letter-spacing: 10px; */
  /* -webkit-text-stroke: 0.6px red; */
  font-size: 2rem;
  text-align: center;
}

/*---------- Burger menu ----------*/
@media (max-width: 600px) {
  .toggle-btn {
    background: transparent;
    color: black;
    border: none;
    display: block;
    width: 44px;
    height: 44px;
    padding: 0.25rem;
    cursor: pointer;
  }

  nav {
    display: none;
  }

  nav.shown {
    border-top: 1px solid;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
    background: #c8b1dd;
    margin-left: -10%;
    margin-right: -10%;
    padding-bottom: 50%;
  }

  nav ul {
    display: flex;
    flex-flow: column;
    line-height: 15px;
    color: #ff1e1c;
    font-weight: bold;
    place-self: center;
    padding-top: 40%;
  }
}

/* ---------- Hero ---------- */
#hero_landing h1 {
  margin-top: 15%;
  padding-bottom: 15%;
  line-height: 1px;
  font-size: 4.3rem;
}

#copenhagen {
  font-weight: 300;
  font-size: 1.7rem;
  letter-spacing: 7px;
  line-height: 0.3px;
  padding-left: 8px;
  padding-bottom: 15%;
}

#hero_festival {
  line-height: 40px;
  padding-left: 5px;
  letter-spacing: 2px;
  font-size: 4rem;
}

#hero_22 {
  color: #ff1e1c;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
}

/* ---------- Color Block ---------- */
#color_block {
  border-right: 20px solid #ff1e1c;
  transform: translateX(-0%) translateY(20%) scaleY(60%) scaleX(152%)
    rotate(-90deg);
}

/* #color_block_top .red {
  background-color: #ff1e1c;
  padding: 10px;
  width: 100%;
} */

#color_block .blue {
  background-color: #1956ff;
  padding: 18px;
  /* transform: translateX(-50%) translateY(340%) scaleY(50%) rotate(-90deg); */
}

#color_block .purple {
  background-color: #c8b1dd;
  padding: 26px;
  /* transform: translateX(-40%) translateY(240%) scaleY(50%) rotate(-90deg); */
}

#color_block .yellow {
  background-color: #f8eb00;
  padding: 10px;
}

#color_block .orange {
  background-color: #fdb813;
  padding: 17px;
}

#color_block .teal {
  background-color: #4accd9;
  padding: 13px;
}

#color_block .white {
  background-color: #eeeeee;
  padding: 10px;
}

#color_block .pink {
  background-color: #f6768f;
  padding: 15px;
}

/* ---------- Forestillinger ---------- */
#forestillinger_1,
#forestillinger_2 {
  line-height: 50px;
  color: #f6768f;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
}

#forestillinger_3 {
  color: #ff1e1c;
}

/* ---------- Forestilling_1 ---------- */
#show_1 {
  padding-top: 10px;
}

#show1_date {
  transform-origin: top left;
  left: 0;
  top: 0;
  transform: rotate(-90deg) translateX(-102%) translateY(2%);
  padding-top: 2px;
  font-size: 1.1rem;
}

#show1_venue {
  transform: translateX(5%);
}

#show1_info {
  transform: translateX(-43%);
}

#show1_txt {
  font-size: 1.1rem;
}

#show1_venue {
  line-height: 50px;
  /* color: #000000; */
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  font-weight: 900;
  font-size: 4rem;
  padding-left: 0.4rem;
}

/* ---------- Forestilling_2 ---------- */
#show_2 {
  padding-left: 10px;
  padding-top: 10px;
}

#show2_venue {
  font-size: 3rem;
  line-height: 50px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  font-weight: 900;
}

#show2_info {
  color: #ff1e1c;
  font-size: 1.5rem;
  letter-spacing: 4px;
}

#show2_date {
  font-weight: 300;
  padding-bottom: 8px;
  letter-spacing: 2px;
}

#show2_button {
  margin-left: 45%;
}

/* ---------- Forestilling_3 ---------- */
#show_3 {
  padding-left: 10px;
  padding-top: 10px;
}

#show3_venue {
  font-size: 3rem;
  line-height: 50px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  font-weight: 900;
}

#show3_info1 {
  color: #ff1e1c;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 20px;
  padding-top: 15%;
  transform: translateX(-5%);
}

#show3_info2 {
  color: #ff1e1c;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 20px;
  padding-left: 21%;
  transform: translateX(2%);
}

#show3_info3 {
  color: #ff1e1c;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 30px;
  transform: translateX(-12%);
}

#show3_date1 {
  padding-left: 2px;
  padding-top: 3px;
}

#show3_date1,
#show3_date2,
#show3_date3 {
  font-weight: 300;
  letter-spacing: 1.5px;
  font-size: 1.1rem;
}

#show3_date2 {
  line-height: 5px;
  padding-left: 2px;
}

#show3_date3 {
  line-height: 29px;
  padding-left: 2px;
}

#show3_button {
  transform-origin: top right;
  right: 0;
  top: 0;
  transform: rotate(90deg) translateX(63%) translateY(170%);
}

/* ---------- Forestilling_4 ---------- */
#show_4 {
  padding-top: 10px;
}

#show4_venue {
  transform-origin: top left;
  left: 0;
  top: 0;
  transform: rotate(90deg) translateX(2%) translateY(-34%);
  padding-top: 2px;
  font-size: 3rem;
  line-height: 50px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  font-weight: 900;
}

#show4_info {
  padding-top: 50px;
}

#show4_info1,
#show4_info2,
#show4_info3,
#show4_info4,
#show4_info5 {
  color: #ff1e1c;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 20px;
}

#show4_button {
  /* margin-top: 30px; */
  margin-bottom: 100px;
}

/* ---------- Forestilling_5 ---------- */
#show_5 {
  padding-left: 10px;
  padding-top: 10px;
}

#show5_venue {
  font-size: 3rem;
  line-height: 50px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  font-weight: 900;
}

#show5_info {
  color: #ff1e1c;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 20px;
  padding-left: 9px;
}

#show5_date1,
#show5_date2,
#show5_date3,
#show5_date4 {
  font-weight: 300;
  letter-spacing: 1.5px;
  font-size: 1.1rem;
}

#show5_date1 {
  /* padding-left: 10px; */
}

#show5_button {
  text-align: center;
}

/* ---------- Forestilling_6 ---------- */

/* ---------- Forestilling_7 ---------- */

/* ---------- Købsprocess_info ---------- */

/* ---------- Købsprocess_pil ---------- */
#pil_ned {
  /* bottom: 0;
  position: absolute;
  min-width: 30px; */
  /* margin: 0px calc(50vw - 15px); */
  background-size: cover;
  background-repeat: no-repeat;
}

/* ---------- Købsprocess_trin ---------- */

/* ---------- Om ---------- */
#om_overskrift {
  color: #ff1e1c;
  font-size: 15rem;
  font-weight: bold;
  text-align: center;
  line-height: 200px;
}

#om_vildskud {
  padding-left: 20px;
  padding-top: 20px;
}

#om_scenekunst {
  color: #ff1e1c;
  font-size: 1.2rem;
  font-weight: 300;
}

#om_vildskud2,
#om_vildskud3,
#om_vildskud4,
#om_vildskud5 {
  white-space: pre-line;
}

#holdet {
  padding-left: 20px;
  padding-top: 20px;
}

#holdet_overskrift {
  color: #ff1e1c;
  font-size: 5rem;
  font-weight: 300;
  line-height: 80px;
  padding-bottom: 20px;
}

#nikita img {
  background: #1956ff;
}

#kirstine img {
  background: #c8b1dd;
}

#vibeke img {
  background: #f8eb00;
}

#stina img {
  background: #fdb813;
}

#louise img {
  background: #4accd9;
}

#baldrian img {
  background: #eeeeee;
}

#om_info {
  font-size: 0.65rem;
}

#om_info span {
  font-weight: bold;
}

#samarbejde_h2 {
  font-size: 2.4rem;
  font-weight: 300;
  color: #ff1e1c;
}

#samarbejde {
  font-weight: 500;
}

#frivillig h2 {
  color: #ff1e1c;
  font-size: 5rem;
  font-weight: 900;
  line-height: 64px;
  padding-bottom: 25px;
}

#frivillig p span {
  font-weight: bold;
}

#frivillig_para2 {
  padding-top: 20px;
}

#frivillig_para3 {
  padding-top: 20px;
}

#frivillig_para4 {
  padding-top: 20px;
}

#frivillig_para5 {
  padding-top: 20px;
}

#frivillig_para6 {
  padding-top: 20px;
}

#frivillig_para7 {
  padding-top: 20px;
}

#frivillig_para8 {
  padding-top: 20px;
}

/* ---------- Events ---------- */
#events_head {
  color: #ff1e1c;
  font-weight: 900;
  font-size: 4rem;
  letter-spacing: -10px;
}


/* ---------Program --------------*/

#color_block_pro{
  border-right: 20px solid #ff1e1c;
  transform: translateX(-0%) translateY(0%) scaleY(40%) scaleX(152%)
    rotate(-90deg);
}
#color_block_pro .blue {
  background-color: #1956ff;
  padding: 18px;
}

#color_block_pro .purple {
  background-color: #c8b1dd;
  padding: 26px;
}

#color_block_pro .yellow {
  background-color: #f8eb00;
  padding: 10px;
}

#color_block_pro .orange {
  background-color: #fdb813;
  padding: 17px;
}

#color_block_pro .teal {
  background-color: #4accd9;
  padding: 13px;
}

#color_block_pro .white {
  background-color: #eeeeee;
  padding: 10px;
}

#color_block_pro .pink {
  background-color: #f6768f;
  padding: 15px;
}
