@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4 {
  font-family: "Oswald", sans-serif;
}

p,
a {
  font-family: "Montserrat", sans-serif;
}

/* ---------- Streg ---------- */
hr {
  color: #000000;
  background-color: #000000;
  border: none;
  height: 1px;
  margin-top: 10px;
}

/*=========== nav =============*/
/*---------- header ----------*/
.banner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem 3rem;
  padding: 1rem;
}

nav {
  display: contents;
}

nav ul {
  display: flex;
  flex-flow: column;
  flex: 1 1 100%;
  gap: 0 1rem;
  padding-block-start: 1rem;
}

nav li {
  display: grid;
}

/*---------- links i nav ----------*/
nav a {
  margin-inline: -1rem;
  padding-inline: 1rem;
  border-radius: 6px;
  padding-block: 1rem;
  letter-spacing: 10px;
  -webkit-text-stroke: 0.6px red;
  font-size: 1.1rem;
}

/*---------- Burger menu ----------*/
@media (max-width: 600px) {
  .toggle-btn {
    background: transparent;
    color: black;
    border: none;
    display: block;
    width: 44px;
    height: 44px;
    padding: 0.25rem;
    cursor: pointer;
  }

  nav {
    display: none;
  }

  nav.shown {
    border-top: 1px solid;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }

  nav ul {
    display: flex;
    flex-flow: column;
  }
}

/* ---------- Hero ---------- */
#hero h1 {
  margin-top: 15%;
  padding-bottom: 15%;
  line-height: 1px;
  font-size: 4.3rem;
}

#copenhagen {
  font-weight: 300;
  font-size: 1.7rem;
  letter-spacing: 7px;
  line-height: 0.3px;
  padding-left: 8px;
  padding-bottom: 15%;
}

#hero_festival {
  line-height: 40px;
  padding-left: 5px;
  letter-spacing: 2px;
  font-size: 4rem;
}

#hero_22 {
  color: #ff1e1c;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
}

/* ---------- Color Block ---------- */
#color_block {
  border-right: 20px solid #ff1e1c;
  transform: translateX(-0%) translateY(10%) scaleY(60%) scaleX(152%)
    rotate(-90deg);
}

/* #color_block_top .red {
  background-color: #ff1e1c;
  padding: 10px;
  width: 100%;
} */

#color_block .blue {
  background-color: #1956ff;
  padding: 18px;
  /* transform: translateX(-50%) translateY(340%) scaleY(50%) rotate(-90deg); */
}

#color_block .purple {
  background-color: #c8b1dd;
  padding: 26px;
  /* transform: translateX(-40%) translateY(240%) scaleY(50%) rotate(-90deg); */
}

#color_block .yellow {
  background-color: #f8eb00;
  padding: 10px;
}

#color_block .orange {
  background-color: #fdb813;
  padding: 17px;
}

#color_block .teal {
  background-color: #4accd9;
  padding: 13px;
}

#color_block .white {
  background-color: #eeeeee;
  padding: 10px;
}

#color_block .pink {
  background-color: #f6768f;
  padding: 15px;
}

/* ---------- Forestillinger ---------- */
#forestillinger_1,
#forestillinger_2 {
  line-height: 50px;
  color: #f6768f;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
}

#forestillinger_3 {
  color: #ff1e1c;
}

/* ---------- Forestilling_1 ---------- */
#show1_date {
  transform-origin: top left;
  left: 0;
  top: 0;
  transform: rotate(-90deg) translateX(-100%);
  padding-top: 2px;
  font-size: 1.1rem;
}

#show1_info {
  transform: translateX(-45%);
}

#show1_txt {
  font-size: 1.1rem;
}

#show1_venue {
  line-height: 50px;
  /* color: #000000; */
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  font-weight: 900;
  font-size: 4rem;
  padding-left: 0.4rem;
}

/* ---------- Forestilling_2 ---------- */

/* ---------- Forestilling_3 ---------- */
#show3_knap {
  transform-origin: top right;
  right: 0;
  top: 0;
  transform: rotate(90deg) translateX(70%) translateY(100%);
}

/* ---------- Forestilling_4 ---------- */

/* ---------- Forestilling_5 ---------- */

/* ---------- Forestilling_6 ---------- */

/* ---------- Forestilling_7 ---------- */

/* ---------- Købsprocess_info ---------- */

/* ---------- Købsprocess_pil ---------- */
/* #pil_ned {
  bottom: 0;
  position: absolute;
  min-width: 30px;
  margin: 0px calc(50vw - 15px);
} */

/* ---------- Købsprocess_trin ---------- */
